* {
  font-family: "Times New Roman", Times, serif;
}


header{
  background: rgb(228, 3, 119);
  height: 100%;
 
}

.title-section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.menu{
  display: flex;
  flex-direction: row;
  
}

body {  
  background: rgb(253, 210, 232);

} 

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 80px;
  color: #f5eeee;
  height: 25%;
}

p:hover {
font-size: 14px;
color: #f5eeee;
}

/* .menu-buttons {

  margin-top: 60px;
} */

.container-one{
  display: flex;
  flex-direction: row;
  
}

.container-two{
  display: flex;
  flex-direction: row;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 400px;
  width: 400px;
  background-color:  #ffffff;
  margin: 50px;
}

.box:hover{
  cursor: pointer;
  background-color: #e1aad1;
}

.recipient-details{
  font-size: 8px;
}

button:hover {
  background-color: #EBC3A8;
}

.hidden {
  display: none;
}