* {
  font-family: "Times New Roman", Times, serif;
}

.title-section {
 
  color: #f5eeee;
  height: 25%;
  
}

.navigation-bar-container{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  background: rgb(228, 3, 119);

  
}
.menu{
  display: flex;
  justify-content: flex-end;


  
}

body {  
  background: rgb(253, 210, 232);

} 

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 80px;
  color: #f5eeee;
  height: 25%;
}

p:hover {

color: #f5eeee;
}

a:hover {
  
  color: #f5eeee;
  }

/* .menu-buttons {

  margin-top: 60px;
} */

.container-one{
  display: flex;
  flex-direction: row;
  
}

.container-two{
  display: flex;
  flex-direction: row;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  height: 400px;
  width: 400px;
  background-color:  #ffffff;
  margin: 50px;
}

.photo-icon{ 
  height: 180px;
  width: 320px;
}

.icon{
  height: 20px;
  width: 20px;
}

.box:hover{
  cursor: pointer;
  background-color: #e1aad1;
}

.recipient-details{
  font-size: 12px;
}

button:hover {
  background-color: #EBC3A8;
}

.hidden {
  display: none;
}