* {
  font-family: American Typewriter, serif;
}


.navigation-bar-container{
  background: rgb(228, 3, 119);
  margin: 10px;
  padding-bottom: 50px;
  height: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: baseline; */
}

.menu{
  display: flex;
  flex-direction: row;
  
}

body {  
  background: rgb(253, 210, 232);

} 

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 80px;
  color: #f5eeee;
  height: 25%;
}

h2:hover {
font-size: 20px;
color: #f5eeee;
}

/* .menu-buttons {

  margin-top: 60px;
} */

.container-one{
  display: flex;
  flex-direction: row;
  
}

.container-two{
  display: flex;
  flex-direction: row;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 300px;
  width: 400px;
  background-color:  #ffffff;
  margin: 50px;
}

.box:hover{
  cursor: pointer;
  background-color: #e1aad1;
}
.photo-icon{
  margin-top: 80px;

}

button:hover {
  background-color: #EBC3A8;
}

.hidden {
  display: none;
}